@page
@model Web1.Pages.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Checkout</h1>

<hr />


<div>
    <form method="Post">

        <div>
            <div class="form-group">
                <label asp-for="fullname" class="control-label"> Navn:</label>
                <input asp-for="fullname" class="form-control" />
                <span asp-validation-for="fullname" class="text-danger"></span>


            <label asp-for="Email" class="control-label"> Email:</label>
            <input asp-for="Email " class="form-control" />
            <span asp-validation-for="Email " class="text-danger"></span>


            <label asp-for="Address" class="control-label"> Adresse:</label>
            <span asp-validation-for="Address" class="text-danger"></span>
            <input asp-for="Address" class="form-control" />


            <label asp-for="paymentO" class="control-label"> Betalingsmiddel:</label>
            <span asp-validation-for="paymentO" class="text-danger"></span>
            <input asp-for="paymentO" class="form-control" />



            </div>
            <div>
                <input type="submit" />
            </div>



        </div>

    </form>



    

</div>
    <hr />
    <form method="post">
        <input type="submit"  class="btn btn-primary" value="Betal for varen" />
        @*asp-page="./End"*@

        <input type="submit" asp-page="./Index" class="btn btn-primary" value="Tilbage til hovedsiden" />
    </form>
<hr />