@page
@model Web1.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Opret varer</h1>

<hr />

Standard Vareinfo:
<table>


    <tr>
        <td>Name:<input id="name" type="text" /></td>
        <td>Beskrivelse af varen:<input id="Description" type="text" /></td>
    </tr>

    <tr>
        <td>Pris:<input id="price" type="text" /></td>
        <td> Status: <input id="status" type="text" /></td>
    </tr>

    <tr></tr>


</table>
<hr />
Udvidet Vareinfo:
<br />


<tr>
    <td>Mærke:<input id="name" type="text" /></td>
    <td>Farve:<input id="Description" type="text" /></td>
</tr>

<tr>
    <td>Størrelse:<input id="price" type="text" /></td>

</tr>

<hr />




<form method="post">
    <input type="submit" asp-page="./Create" class="btn btn-primary" value="Opret Varer" />

<input type="submit" asp-page="./Index" class="btn btn-primary" value="Til Hovedmenuen" />
</form>

<hr />


