@page
@model Web1.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Opret varer</h1>

<hr />

Standard Vareinfo:
<table>

    <tr>
        <td>Name:<input id="name" type="text" /></td>
        <td>Description:<input id="Description" type="text" /></td>
    </tr>

    <tr>
        <td>Price:<input id="price" type="text" /></td>
        <td>Test 2:<input id="" type="text" /></td>
        <td> Status: <input id="status" type="text" /></td>
    </tr>

    <tr></tr>


</table>
<hr />
Udvidet Vareinfo:
<br />

<tr>
    <td>Name:<input id="name" type="text" /></td>
    <td>Description:<input id="Description" type="text" /></td>
</tr>

<tr>
    <td>Price:<input id="price" type="text" /></td>
    <td>Test 2:<input id="" type="text" /></td>
    <td> Status: <input id="status" type="text" /></td>
</tr>

<hr />




<form method="get">
    <input type="submit" asp-page="./Create" class="btn btn-primary" value="Opret Varer" />
    <input type="submit" asp-page="./Index" class="btn btn-primary" value="Til Hovedmenuen" />
</form>

<hr />


