@page 
@model Web1.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Se Varer uddybet: </h1>
<hr />
Basis vareinformation:
<br />


<h2>@ViewData["id"]</h2>
<table>

    
        <tr>
            <td>Name:<input id="name" type="text" /></td>
            <td>Beskrivelse af varen:<input id="Description" type="text" @ViewData["id"]/></td>
            
        
        </tr>
    
        <tr>
            <td>Pris:<input id="price" type="text" /></td>
            <td> Status: <input id="status" type="text" /></td>
        </tr>

    </table>
<hr />
Udvidet vareinformation:
<br />


<tr>
    <td>Mærke:<input id="name" type="text" /></td>
    <td>Farve:<input id="Description" type="text" /></td>
</tr>

<tr>
    <td>Størrelse:<input id="price" type="text" /></td>
    
</tr>


<hr />


<form method="get">
    <input type="submit" asp-page="./Create" class="btn btn-primary" value="Ændrer varen" />
    <input type="submit" asp-page="./Index" class="btn btn-primary" value="Til Hovedmenuen" />
</form>
 <hr />






