@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Løbeshoppen</h1>
    <p>Her vil du kunne finde et overblik over alle de sko der er i vores lille webshop. Der vil  komme nye produkter i takt med at vi får nye varer hjem </p>
    <p>1: Tryk hjem for at vende tilbage til hovedsiden</p> <br />
    <p>2: Tryk Køb for at gå til siden med muligheder for at købe sko. </p> <br />
    <p>3: Se Købsoversigten over de varer du lagt i din kurv Tryk på  Køb for at blive henledt til købssiden</p>
</div>
