@page
@model Web1.Pages.Shared.ProductinfoModel
@{
    ViewData["Title"] = "Productinfo";
}

<h1>Productinfo</h1>


<form method="post" action="/Productinfo">
    <input type="submit" class="btn btn-primary" value="Se udvidet info">
</form>
<form method="post">
    <input type="submit" class="btn btn-primary" value="Køb Vare">
</form>





